@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Marcellus', serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 48px;
}

h2 {
  font-family: 'Monserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

h3 {
  font-family: 'Monserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

p {
  font-family: 'Monserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.button {
  font-family: 'Monserrat', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.4px;
  background-color: #DD013F;
  color: #FFFFFF;
  height: 35px;
  width: auto;
  margin-left: 15px;
  margin-right: 10px;
  border: none;
  padding: 0px 20px 0px 20px
}

.heading-container {
  margin: 75px 75px 50px 75px;
  border-bottom: 1px solid #D3D3D3;
}

.large-button {
  font-family: 'Monserrat', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 17px;
  background-color: #DD013F;
  color: #FFFFFF;
  margin-left: 15px;
  margin-right: 10px;
  border: 2px solid #DD013F
}


.cancel-button {
  font-family: 'Monserrat', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.4px;
  background-color: #FFFFFF;
  color: #DD013F;
  height: 35px;
  width: auto;
  border: 2px solid #DD013F;
  padding: 0px 20px 0px 20px
}

.cancel-button:hover {
  background-color: #DD013F;
  color: #FFFFFF;
  border: 2px solid #DD013F
}

.edit-delete-button {
  font-family: 'Monserrat', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.4px;
  background-color: #DD013F;
  color: #FFFFFF;
  height: 35px;
  width: auto;
  margin-left: 15px;
  margin-right: 10px;
  border: none;
}

.button:hover, .large-button:hover, .edit-delete-button:hover {
  background-color: #FFFFFF;
  color: #DD013F;
  border: 2px solid #DD013F
}

#main-heading {
  height: 30px;
}